.sidebar img {
    width: 100px;
    height: 100px;
    margin: 10px
}

video {
  position: relative;
  left: 36%;
  transform: translateX(-50%);
}

body  {
  background-image: url("pic/backgroup.jpg");
  background-color: #cccccc;
}
